<div class="well well-sm" align="center">
  <h2>Registrese</h2>
</div>

<div class="row">
  <div class="col-sm-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div></br>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div></br>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div></br>

        <div class="actions">
          <%= f.submit "Registrarse", :class => "btn btn-primary" %> <%= render "devise/shared/links" %>
        </div>
    <% end %>

  </div>
  <div class="col-sm-4">
    <%= image_tag("Corporativa_WMC.JPG", size: "700x400") %>
  </div>
</div>


