<div class="well well-sm" align="center">
  <h2>Iniciar Sesión</h2>
</div>

<div class="row">
  <div class="col-sm-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div> <br />
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", :class => "btn btn-primary" %> <br />
          <%= render "devise/shared/links" %>
        </div>

    <% end %>

  </div>
  <div class="col-sm-4">
    <%= image_tag("Corporativa_WMC.JPG", size: "700x400") %>
  </div>
</div>
