<%= form_for(doctor) do |f| %>
    <% if doctor.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

          <ul>
            <% doctor.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :cedula %>
      <%= f.text_field :cedula %>
    </div>

    <div class="field">
      <%= f.label :nombre %>
      <%= f.text_field :nombre %>
    </div>

    <div class="field">
      <%= f.label :telefono %>
      <%= f.text_field :telefono %>
    </div>

    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>

<% end %>





