<p id="notice"><%= notice %></p>


<div class="well">
  <div class="row">
    <div class="col-sm-3"> <%= image_tag("Logo.JPG", size: "250x100") %> </div>
    <div class="col-sm-7"> <h1>Lista de Cirujanos</h1> </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cedula</th>
      <th>Telefono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.cedula %></td>
        <td><%= doctor.nombre %></td>
        <td><%= doctor.telefono %></td>
        <td><%= link_to 'Show', doctor, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_doctor_path(doctor), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', doctor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor', new_doctor_path, class: "btn btn-primary" %>

