<div class="well">

  <div class="row">
    <div class="col-sm-4">
      <%= image_tag("logoWMC.png") %>
    </div>
    <div class="col-sm-4">
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Nombre:</strong>
        <%= @doctor.nombre %>
      </p>
      <p>
        <strong>Cedula:</strong>
        <%= @doctor.cedula %>
      </p>
      <p>
        <strong>Telefono:</strong>
        <%= @doctor.telefono %>
      </p>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_doctor_path(@doctor), class: "btn btn-primary" %> |
<%= link_to 'Back', doctors_path, class: "btn btn-primary" %>
