// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brand img{
  max-width: 50%;
}

nav {
  width: 100%;
  height: 40px;
  background: -webkit-linear-gradient(#000080, #191970, #002966, #003D99, #336699);
  background: -o-linear-gradient(#000080, #191970, #002966, #003D99, #336699);
  background: linear-gradient(#000080, #191970, #002966, #003D99, #336699);
  border-radius: 6px !important;
  -moz-border-radius: 6px !important;
}

.navbar-brand {
  color: white !important;
  font-size: 1.8em !important;
}

.nav li{
  color: white !important;
  font-size: 1.8em !important;
  padding-right:2px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #4682b4;
}
