<p id="notice"><%= notice %></p>

<div class="well">
  <div class="row">
    <div class="col-sm-3"> <%= image_tag("Logo.JPG", size: "250x100") %> </div>
    <div class="col-sm-7"> <h1>Lista de Salas</h1> </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Disponibilidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.numero %></td>
        <td><%= sala.disponibilidad %></td>
        <td><%= link_to 'Show', sala, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_sala_path(sala), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', sala, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sala', new_sala_path, class: "btn btn-primary" %>
