<div class="well">

  <div class="row">
    <div class="col-lg-4">
      <%= image_tag("logoWMC.png")%>
    </div>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Numero:</strong>
      <%= @sala.numero %>
    </p>

    <p>
      <strong>Disponibilidad:</strong>
      <%= @sala.disponibilidad %>
    </p>

  </div>

  <%= link_to 'Edit', edit_sala_path(@sala), class: "btn btn-primary" %> |
  <%= link_to 'Back', salas_path , class: "btn btn-primary" %>
</div>