<nav class="navbar navbar-in">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://worldmedicalcenter.com.co/es">WORLD MEDICAL CENTER</a>
    </div>

    <ul class="nav navbar-nav">
      <!--<li class="active"><a href="#">Home</a></li>-->
      <li class="active"> <%= link_to "Home", root_path %></li>

      <li> <%= link_to "Lista de Cirujanos",  doctors_path  %> </li>

      <li> <%= link_to "Lista de Salas",  salas_path  %> </li>

    </ul>


    <ul class="nav navbar-nav navbar-right">
      <ul class = "brand"> <%= image_tag("logoWMC.png") %> </ul>
    </ul>

  </div>
</nav>